/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.idea/e-commerce-apis.iml
/.idea/php.xml
bootstrap/*
composer.lock
vendor/
